@import url("http://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "SF Pro Display", sans-serif;
  font-size: 1.3em;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
