.card {
  background-color: rgba(60, 60, 67, 0.18);
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;

  .card__content {
    max-height: 200px;
    overflow: hidden;

    img,
    video {
      width: 100%;
      object-position: center;
    }
  }

  .card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
  }
}
