@import "../../variables";

.checkbox {
  height: 22px;
  width: 40px;
  background-color: $background-dark;
  border: 1px solid $background-dark;
  transition: background-color 0.3s ease;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &__checked {
    background-color: $primary;

    .checkbox__circle {
      transform: translateX(90%);
    }
  }

  .checkbox__circle {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
}
