@import "../../variables";
@import "../../typography";

.segment {
  border-radius: 6px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;

  &--disabled {
    opacity: 0.6;

    .segment__item {
      cursor: not-allowed !important;
    }
  }

  .segment__item {
    position: relative;
    padding: 4px 10px;
    margin: 2px;
    border-radius: 6px;
    color: $text-color;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

    @include typography(14px, normal, 400, 17px, 0em, center);

    &--selected {
      background-color: $primary;
      color: white;
    }

    &::after {
      content: "";
      position: absolute;
      right: -3px;
      top: 4px;
      bottom: 4px;
      width: 1px;
      background-color: black;
      opacity: 0.1;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
